body {
    margin: 0;
    background-image: url(../FJRG/Imagenes/fondo.jpg);
    background-attachment: fixed;
}

.menu a:link {
    color: white;
    text-decoration: none;
}

.menu a:visited {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: rgb(240, 236, 0);
    text-decoration: none;
}

.menu a:active {
    color: rgb(255, 105, 45);
    text-decoration: none;
}

.menu {
    font-weight: bolder;
    background-color: rgba(15, 226, 15, 0.884);
    height: 70px;
    width: 100%;
    position: fixed;
}

#menu_opciones {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
}

#menu_opciones div {
    width: fit-content;
    display: inline-block;
    margin-left: 30px;
    font-size: 25pt;
}

#contacto {
    width: 55px;
    display: flexbox;
    position: absolute;
    top: 8px;
    right: 150px;
}

.menu #titulo {
    color: rgb(240, 236, 0);
    font-size: 15pt;
    padding-left: 0;
    margin-left: 0;
}

.menu #titulo h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#logo {
    padding-left: 0pt;
    margin-top: 0px;
    width: fit-content;
    height: 55px;
    float: left;
}

#banner {
    width: 30%;
    height: 55px;
    float: left;
    margin-left: 0px;
    margin-top: 10px;
}

#imagen_logo {
    width: 55px;
}

#tipo_pizza {
    font-weight: bolder;
}

#contenidos {
    width: 100%;
    height: fit-content;
    display: inline-block;
    text-align: center;
}

.producto {
    width: 35%;
    height: fit-content;
    background-color: rgba(185, 255, 191, 0.753);
    padding: 5px;
    box-shadow: 10px 10px 10px #666;
    margin-right: 10px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

.producto p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.sabor {
    font-size: 20px;
    font-family: sans-serif;
}

.producto img {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
}

.tipo_pizza {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
    background-color: rgba(185, 255, 191, 0.753);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#formulario_pedido {
    width: 900px;
    height: fit-content;
    text-align: center;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(185, 255, 191, 0.753);
    box-shadow: 10px 10px 10px #666;
    border-radius: 10px;
    padding-bottom: 30px;
}

.titulo_form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
}

#formulario_pedido fieldset {
    border: 0px;
}

#formulario_pedido select {
    width: 200px;
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
}

#formulario_pedido label {
    font-weight: bold;
}

#formulario_pedido textarea {
    margin-top: 20px;
    border-radius: 5px;
}

#formulario_pedido input {
    border-radius: 5px;
}

#formulario_pedido label:hover {
    color: rgb(255, 123, 0);
    font-weight: bolder;
    font-size: 20px;
}


/* Estilos de la pagina detalles */

.link_detalles {
    color: black;
    text-decoration: none;
    font-size: 14pt;
}

.link_detalles::after {
    color: black;
    text-decoration: none;
}

.link_detalles:hover {
    font-weight: bolder;
}

#producto_detalle {
    width: 35%;
    height: 500px;
    background-color: rgba(185, 255, 191, 0.753);
    padding: 10px;
    box-shadow: 10px 10px 10px #666;
    /* display: inline-block; */
    text-align: center;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
}

#producto_detalle img {
    width: 70%;
    border-radius: 5px;
}

#producto_detalle p {
    font-size: 16pt;
}

#producto_detalle h3 {
    font-size: 20pt;
    font-weight: bolder;
}

#botones_detalle {
    margin-top: 2%;
    text-align: center;
}

#botones_detalle button {
    font-size: 20pt;
    font-weight: bolder;
    border-radius: 5px;
    background-color: rgb(54, 244, 95);
    color: rgb(0, 0, 0);
}

#botones_detalle button:hover {
    background-color: rgb(22, 143, 48);
    cursor: pointer;
}

#botones_detalle button:active {
    background-color: rgb(54, 244, 95);
}


/* lista ingredientes */

#contenedor_lista {
    background-color: rgb(240, 240, 240);
    margin: auto;
    margin-top: 2%;
    font-size: 20pt;
    width: 600px;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px #666;
}

#lista_ingredientes li {
    list-style: none;
    margin-top: 5px;
}

#lista_ingredientes li::before {
    content: "-  ";
}

.btEliminar {
    font-size: 18pt;
    font-weight: bolder;
    border-radius: 50%;
    float: right;
    margin-right: 15%;
}

.btEliminar:hover {
    background-color: rgb(197, 18, 18);
}

.btEliminar:active {
    background-color: transparent;
}